<!DOCTYPE html>
<html>
    <head>
        <title>WerthIt 😉 </title>
        <meta name="description" content="Welcome">
        <meta name="keywords" content="Playful learning">
    </head>

<body>
    <p style="font-size:100px">&#129409;</p>
    <h1>🎡 Hello!!</h1>
    
    <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
    
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1EFfp4E40w3MQl" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <p style="font-size:100px">&#127905;</p>
</body>
</html>